.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 30px;

  transition: all 0.4s ease-out;

  // background-color: hsl(218, 31%, 15%);
}

.hide {
  top: -80px;
}

.show {
  top: 0;
}

@media (max-width: 575px) {
  .subtitle {
    display: none;
  }
  .logo {
    width: 40px;
    height: 40px;
  }
}
