.root {
  position: relative;
  height: calc(100dvh + 20px);

  width: 100%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: hsla(215, 30%, 2%, 0.7);
  }
}

.anchor {
  height: 260px;
  width: auto;
  object-fit: contain;
  position: absolute;
  bottom: -1%;
  right: 2%;
  z-index: 20;

  transition: all 1s ease-in-out;
  transform: translateX(calc(100% + 50px));
}

.animated {
  transform: translateX(0);
}

.content {
  width: 100%;
  height: 100%;
  padding: 80px 0 50px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: inline-block;
  margin: 40px 0;
  position: relative;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-bronze);

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--color-bronze);
  }
}

.slogan {
  font-weight: 700;
  font-size: 60px;
}

.subtitle {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 1480px) {
  .anchor {
    height: 220px;
  }
}

@media (max-width: 1100px) {
  .slogan {
    font-size: 50px;
  }
}

@media (max-width: 990px) {
  .anchor {
    height: 160px;
    right: 1%;
  }
  .contentWrapper {
    width: 80%;
  }
  .subtitle {
    font-size: 20px;
  }
  .slogan {
    font-size: 40px;
  }
}

@media (max-width: 770px) {
  .anchor {
    height: 120px;
  }
  .title {
    font-size: 20px;
  }
  .contentWrapper {
    width: 90%;
  }
  .subtitle {
    font-size: 18px;
  }
  .slogan {
    font-size: 30px;
  }
}

@media (max-width: 575px) {
  .title {
    font-size: 18px;
  }
  .slogan {
    font-size: 20px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 1.6;
  }
}
