@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-caveat: var(--font-caveat);
  --color-lightblue2: oklch(0.6 0.083 256.3);
  --color-lightblue: oklch(0.4 0.063 256.3);
  --color-blue: oklch(0.3 0.053 256.3);
  --color-darkblue: oklch(0.22 0.041 256.3);
  --color-darkblue2: oklch(0.17 0.033 256.3);
  --color-darkblue3: oklch(0.12 0.024 256.3);
  --color-darkblue4: oklch(0.07 0.015 256.3);
  --color-headerblue: oklch(0.15 0.03 256.6);
  --color-sand: oklch(0.98 0.103 98.4);
  --color-bronze: oklch(0.68 0.088 95.8);
  --color-border: var(--border);
  --color-ring: var(--ring);
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-darkblue text-white font-montserrat;
  }
}
