@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-motion";

@theme {
  --header-height: 80px;

  --font-montserrat: var(--font-montserrat);
  --font-caveat: var(--font-caveat);
  --color-lightblue2: hsl(215, 50%, 60%);
  --color-lightblue: hsl(215, 30%, 40%);
  --color-blue: hsl(215, 30%, 30%);
  --color-darkblue: hsl(215, 30%, 22%);
  --color-darkblue2: hsl(215, 30%, 17%);
  --color-darkblue3: hsl(215, 30%, 12%);
  --color-darkblue4: hsl(215, 30%, 7%);
  --color-sand: hsl(53, 100%, 98%);

  --color-bronze: hsl(44, 40%, 68%);

  --color-accent-orange: hsl(25, 90%, 55%);
  --color-accent-orange-hover: hsl(25, 100%, 65%);
  --color-white: hsl(0, 0%, 100%);
  --color-darkblue-hover: hsl(215, 30%, 28%);

  --color-border: var(--border);
  --color-ring: var(--ring);

  --animate-fade: fade 0.5s ease-out forwards;
  --animate-wave: wave 10s linear infinite;
  --animate-wave-reverse: wave-reverse 10s linear infinite;

  @keyframes wave {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes wave-reverse {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer base {
  /* * {
    @apply border-border outline-ring/50;
  } */
  body {
    @apply bg-darkblue font-montserrat text-white;
  }
}

@layer components {
  .link {
    @apply cursor-pointer transition-opacity duration-200 hover:opacity-80;
  }
  .scale-animated-xs {
    @apply transition duration-200 hover:scale-105;
  }
  .scale-animated {
    @apply transition duration-200 hover:scale-125;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .bg-gradient-1-3 {
    background: linear-gradient(
      to bottom,
      var(--color-darkblue),
      var(--color-darkblue3)
    );
  }

  .bg-gradient-2-3 {
    background: linear-gradient(
      to bottom,
      var(--color-darkblue2),
      var(--color-darkblue3)
    );
  }

  .bg-gradient-1-lightblue {
    background: linear-gradient(
      to bottom,
      var(--color-darkblue),
      var(--color-lightblue)
    );
  }
}
