.root {
  position: relative;
  height: calc(100dvh - 80px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.close {
  filter: drop-shadow(5px 5px 5px var(--color-bronze));
}

.img {
  object-fit: contain;
  -webkit-tap-highlight-color: transparent;
}
